@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #5e4fc9;
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 26s linear infinite;
}




.background li:nth-child(0) {
    left: 25%;
    width: 171px;
    height: 171px;
    bottom: -171px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 52%;
    width: 94px;
    height: 94px;
    bottom: -94px;
    animation-delay: 4s;
}
.background li:nth-child(2) {
    left: 85%;
    width: 152px;
    height: 152px;
    bottom: -152px;
    animation-delay: 7s;
}
.background li:nth-child(3) {
    left: 68%;
    width: 73px;
    height: 73px;
    bottom: -73px;
    animation-delay: 5s;
}
.background li:nth-child(4) {
    left: 76%;
    width: 161px;
    height: 161px;
    bottom: -161px;
    animation-delay: 14s;
}
.background li:nth-child(5) {
    left: 17%;
    width: 172px;
    height: 172px;
    bottom: -172px;
    animation-delay: 17s;
}
.background li:nth-child(6) {
    left: 50%;
    width: 178px;
    height: 178px;
    bottom: -178px;
    animation-delay: 1s;
}
.background li:nth-child(7) {
    left: 54%;
    width: 160px;
    height: 160px;
    bottom: -160px;
    animation-delay: 30s;
}
.background li:nth-child(8) {
    left: 23%;
    width: 83px;
    height: 83px;
    bottom: -83px;
    animation-delay: 23s;
}
.background li:nth-child(9) {
    left: 71%;
    width: 75px;
    height: 75px;
    bottom: -75px;
    animation-delay: 43s;
}
.background li:nth-child(10) {
    left: 46%;
    width: 109px;
    height: 109px;
    bottom: -109px;
    animation-delay: 48s;
}
.background li:nth-child(11) {
    left: 3%;
    width: 184px;
    height: 184px;
    bottom: -184px;
    animation-delay: 53s;
}
.background li:nth-child(12) {
    left: 86%;
    width: 116px;
    height: 116px;
    bottom: -116px;
    animation-delay: 28s;
}
.background li:nth-child(13) {
    left: 34%;
    width: 105px;
    height: 105px;
    bottom: -105px;
    animation-delay: 58s;
}
.background li:nth-child(14) {
    left: 52%;
    width: 145px;
    height: 145px;
    bottom: -145px;
    animation-delay: 45s;
}
.background li:nth-child(15) {
    left: 31%;
    width: 147px;
    height: 147px;
    bottom: -147px;
    animation-delay: 38s;
}
.background li:nth-child(16) {
    left: 50%;
    width: 141px;
    height: 141px;
    bottom: -141px;
    animation-delay: 28s;
}
.background li:nth-child(17) {
    left: 89%;
    width: 147px;
    height: 147px;
    bottom: -147px;
    animation-delay: 33s;
}
.background li:nth-child(18) {
    left: 82%;
    width: 183px;
    height: 183px;
    bottom: -183px;
    animation-delay: 53s;
}
.background li:nth-child(19) {
    left: 72%;
    width: 110px;
    height: 110px;
    bottom: -110px;
    animation-delay: 60s;
}
.background li:nth-child(20) {
    left: 63%;
    width: 100px;
    height: 100px;
    bottom: -100px;
    animation-delay: 80s;
}
.background li:nth-child(21) {
    left: 43%;
    width: 147px;
    height: 147px;
    bottom: -147px;
    animation-delay: 37s;
}
.background li:nth-child(22) {
    left: 29%;
    width: 76px;
    height: 76px;
    bottom: -76px;
    animation-delay: 89s;
}
.background li:nth-child(23) {
    left: 78%;
    width: 105px;
    height: 105px;
    bottom: -105px;
    animation-delay: 47s;
}
.background li:nth-child(24) {
    left: 79%;
    width: 159px;
    height: 159px;
    bottom: -159px;
    animation-delay: 60s;
}
.background li:nth-child(25) {
    left: 54%;
    width: 103px;
    height: 103px;
    bottom: -103px;
    animation-delay: 106s;
}
.background li:nth-child(26) {
    left: 82%;
    width: 184px;
    height: 184px;
    bottom: -184px;
    animation-delay: 19s;
}
.background li:nth-child(27) {
    left: 85%;
    width: 105px;
    height: 105px;
    bottom: -105px;
    animation-delay: 40s;
}
.background li:nth-child(28) {
    left: 4%;
    width: 73px;
    height: 73px;
    bottom: -73px;
    animation-delay: 61s;
}
.background li:nth-child(29) {
    left: 54%;
    width: 73px;
    height: 73px;
    bottom: -73px;
    animation-delay: 112s;
}
.background li:nth-child(30) {
    left: 26%;
    width: 184px;
    height: 184px;
    bottom: -184px;
    animation-delay: 84s;
}
.background li:nth-child(31) {
    left: 16%;
    width: 91px;
    height: 91px;
    bottom: -91px;
    animation-delay: 15s;
}
.background li:nth-child(32) {
    left: 32%;
    width: 170px;
    height: 170px;
    bottom: -170px;
    animation-delay: 118s;
}
.background li:nth-child(33) {
    left: 57%;
    width: 184px;
    height: 184px;
    bottom: -184px;
    animation-delay: 135s;
}
.background li:nth-child(34) {
    left: 55%;
    width: 81px;
    height: 81px;
    bottom: -81px;
    animation-delay: 123s;
}
.background li:nth-child(35) {
    left: 83%;
    width: 108px;
    height: 108px;
    bottom: -108px;
    animation-delay: 67s;
}
.background li:nth-child(36) {
    left: 18%;
    width: 167px;
    height: 167px;
    bottom: -167px;
    animation-delay: 56s;
}
.background li:nth-child(37) {
    left: 82%;
    width: 107px;
    height: 107px;
    bottom: -107px;
    animation-delay: 142s;
}
.background li:nth-child(38) {
    left: 66%;
    width: 123px;
    height: 123px;
    bottom: -123px;
    animation-delay: 120s;
}
.background li:nth-child(39) {
    left: 35%;
    width: 102px;
    height: 102px;
    bottom: -102px;
    animation-delay: 112s;
}
.background li:nth-child(40) {
    left: 26%;
    width: 182px;
    height: 182px;
    bottom: -182px;
    animation-delay: 153s;
}
.background li:nth-child(41) {
    left: 25%;
    width: 121px;
    height: 121px;
    bottom: -121px;
    animation-delay: 70s;
}
.background li:nth-child(42) {
    left: 41%;
    width: 182px;
    height: 182px;
    bottom: -182px;
    animation-delay: 209s;
}
.background li:nth-child(43) {
    left: 41%;
    width: 105px;
    height: 105px;
    bottom: -105px;
    animation-delay: 76s;
}
.background li:nth-child(44) {
    left: 78%;
    width: 148px;
    height: 148px;
    bottom: -148px;
    animation-delay: 159s;
}
.background li:nth-child(45) {
    left: 31%;
    width: 106px;
    height: 106px;
    bottom: -106px;
    animation-delay: 41s;
}
.background li:nth-child(46) {
    left: 30%;
    width: 134px;
    height: 134px;
    bottom: -134px;
    animation-delay: 194s;
}
.background li:nth-child(47) {
    left: 31%;
    width: 104px;
    height: 104px;
    bottom: -104px;
    animation-delay: 162s;
}
.background li:nth-child(48) {
    left: 53%;
    width: 84px;
    height: 84px;
    bottom: -84px;
    animation-delay: 154s;
}
.background li:nth-child(49) {
    left: 35%;
    width: 127px;
    height: 127px;
    bottom: -127px;
    animation-delay: 217s;
}
